<div layout-align="space-between center" class="app-cost-buttons app-margin-b-2-3" layout="row">
    <div ng-class="ct.filter.params[1] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(1, $event)">1</md-button>
    </div>
    <div ng-class="ct.filter.params[2] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(2, $event)">2</md-button>
    </div>
    <div ng-class="ct.filter.params[3] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(3, $event)">3</md-button>
    </div>
    <div ng-class="ct.filter.params[4] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(4, $event)">4</md-button>
    </div>
    <div ng-class="ct.filter.params[5] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(5, $event)">5</md-button>
    </div>
    <div ng-class="ct.filter.params[6] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(6, $event)">6</md-button>
    </div>
    <div ng-class="ct.filter.params[7] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(7, $event)">7</md-button>
    </div>
    <div ng-class="ct.filter.params[8] ? '' : 'app-filter-out'">
        <md-button ng-click="ct.filter.setCost(8, $event)">8</md-button>
    </div>
</div>
